/*estrutura padrão*/

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: auto;
  background-color: rgb(21, 22, 22);
}

body {
  margin: 0%;
  overflow-x: hidden;
}

header {
  top: 0%;
  width: 100%;
}

/*  NAV   */

nav {
  background: rgb(43, 40, 40);
  display: flex;
  margin-bottom: -8px;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

nav :is(ul, li) {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  border-radius: 15px;
}

nav ul li {
  padding: .5em;
  transition: .3s;
  vertical-align: middle;
}

nav ul li:hover:not(.titulo) {
  background-color: rgba(126, 209, 205, 0.377);
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:active {
  color: orange;
}
  
nav > ul > li {
  position: relative;
}

nav ul li:has(ul)::after {
  content: ">";
  color: white;
}

nav > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(19, 49, 133, 0.74);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

nav > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav > ul > li > ul > li {
  display: block;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  *{
    font-size: 14px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem;
  }

  nav ul li {
    padding: 0.3em;
    font-size: 1.2rem;
  }

  nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.384);
  }

  nav ul li:has(ul)::after {
    content: ">";
  }

  nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    background-color: rgba(6, 2, 54, 0.753);
  }
  #leon, #nilce, #cadeachave, #coisadenerd, #republicacoisadenerd{
    flex-direction: column;
    place-items: center;
    margin-bottom: 10%;
  }

  h2{
    margin-bottom: 5%;
  }
}

.titulo {
  height: 8vw;
  width: 24vw;
  background-image: url('assests/logo\ colorida.png');
  background-size: contain; /* Alterado para "contain" */
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s;
}

.titulo:hover{
  filter: grayscale(1) brightness(5);
}


.pergunta {
  background-color: rgb(38, 221, 212);
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.151);
  width: auto;
  margin: 3rem 0; 
}

.alternativas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alternativas > button {
  width: 18%;
}

button {
  border: 3px solid #00d9ff;
  font-size: 20px;
  margin: 0.8rem;
  background: rgb(21, 22, 22);
  color: #ffffff; 
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #00d9ff;
  box-shadow: 0 0 35px #00d9ff;
  border: white solid ;
  transform: scale(110%);
}

button::before{
  content: '';
  inset: 2px;
  background: #333;
}

#mensagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 24px;
  display: none;
}

.escondido {
  display: none;
}

.informacoes{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.mostrarErros, .mostrarQuestao, .mostrarAcertos {
  text-align: center;
  margin: 0 3vw;
}

@media screen and (max-width: 970px) {
  .mostrarErros, .mostrarQuestao, .mostrarAcertos, .alternativas > button {
    font-size: 14px;
  }

  .pergunta {
    font-size: 25px;
  }
}

.mostrarAcertos  {
  background-color: rgb(103, 247, 103);
  border-radius: 10px;
  padding: 10px;
}

.mostrarErros  {
  background-color: rgb(240, 41, 41);
  border-radius: 10px;
  padding: 10px;
}

.mostrarQuestao {
  background-color: #f1e648;
  border-radius: 10px;
  padding: 10px;
}

/* Modal  */

.modal {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0 0 0 / .5);
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.content{
  font-size: xx-large;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 1.5rem;
  color: black;
}

.window{
  justify-content: center;
  display: flex;
  place-items: center;
}

.modal.opened {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.modal .window {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 50vw;
  min-height: 50vh;
  border-radius: 1vw;
  padding: 1rem;
}